@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.
Welcome to your new app.

<SurveyPrompt Title="comi o cu de quem ta vendo?" Idade="10"/>
<SurveyPrompt Title="comi o cu de quem ta vendo?" Idade="10"/>
<SurveyPrompt Title="comi o cu de quem ta vendo?" Idade="10"/>
<SurveyPrompt Title="comi o cu de quem ta vendo?" Idade="10"/>
<SurveyPrompt Title="comi o cu de quem ta vendo?" Idade="10"/>
<SurveyPrompt Title="comi o cu de quem ta vendo?" Idade="10"/>
<SurveyPrompt Title="How is Blazor working for you?" Idade="200"/>